body {
    margin: 0;
  }

  h1 {
    position: absolute;
    /* h1 font is garamond but when garamond is not there use serif */
    font-family: 'EB Garamond', serif;

    /* h1 text is now at center */
    text-align: center;

    /* h1 text is bigger */
    font-size: 60px;
  }

  /* this is for black panel on the top */
  .top-bar {
    background-color: black;
    color: white;
    width: 100%;
    height: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-bar {
    background-color: rgb(53, 53, 53);
    height: 50px;
  }

  .bottom-bar-top {
    height: 2px;
    background-color: rgb(181, 42, 0);
  }

  /* button group is like a variable name and button is like reserv word */
  .button-group button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px; /* inside button, space between top bottom, right left */
    margin-left: 15px;
    font-family: serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    transition: 1s;
  }

  .bottom-bar-text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(194, 194, 194);
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;

  }

  .bottom-bar-text:hover {
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
  }

  /* for button group, hover effect*/
  .button-group button:hover {
    background-color: #ccc;
  }

  .bottom-bar-text-container {
    text-align: center;
    width: 100%;
  }